.thumbnail {
    width: 100%;
}

.video-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.video-title a,
.video-author a {
    color: black;
    text-decoration: none;
}

.channel-picture {
    width: 50px;
    vertical-align: top;
}

.profile-picture {
    width: 36px;
    border-radius: 50px;
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.video-time {
    position: absolute;
    background-color: black;
    color: white;
    bottom: 8px;
    right: 5px;

    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;

    padding: 4px;
    border-radius: 2px;
}

.video-author,
.video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video-author {
    margin-bottom: 4px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

.pp-tooltip-container {
    display: inline-block;
    position: relative;
}

.pp-tooltip-container:hover .channel-picture-tooltip {
    opacity: 1;
}

.channel-picture-tooltip {
    background-color: white;
    width: 200px;
    padding: 12px 12px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    position: absolute;
    top: 50px;
    z-index: 300;

    opacity: 0;
    pointer-events: none;

    display: flex;
    align-items: center;
    transition: opacity 0.15s;
}

.pp-tooltip {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
    margin-right: 8px;
}

.author-tooltip,
.subs-tooltip {
    font-family: Roboto, Arial;
}

.author-tooltip {
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 16px;
}

.subs-tooltip {
    color: rgb(96, 96, 96);
    font-size: 14px;
}